<a href="https://colab.research.google.com/github/prateekshetty696/Diabetes/blob/main/Diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.metrics import accuracy_score

In [ ]:
diabetes_dataset = pd.read_csv('/content/diabetes.csv')

In [ ]:
diabetes_dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
diabetes_dataset.shape

(768, 9)

In [ ]:
diabetes_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
diabetes_dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
diabetes_dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [ ]:
X= diabetes_dataset.drop(columns=['Outcome'], axis=1)
Y= diabetes_dataset ['Outcome']

In [ ]:
print (X)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [ ]:
print (Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.1, stratify= Y, random_state=2)

In [ ]:
print (X.shape, X_train.shape, X_test.shape)

(768, 8) (691, 8) (77, 8)

In [ ]:
scaler=StandardScaler()

In [ ]:
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
X_train = scaler.transform(X_train)

X_test = scaler.transform(X_test)

In [ ]:
print (X_train)

[[ 0.34546175  0.55894475 -0.25219101 ... -0.44254858 -0.1849795
  -0.61554246]
 [-0.54526238 -0.42586691  0.25527546 ...  0.1974704  -0.2061454
  -0.87363702]
 [-0.24835434 -0.39509155 -0.3536843  ... -0.77535846 -0.75343496
  -0.70157398]
 ...
 [ 2.12691    -1.10292493  0.25527546 ... -0.25054289 -0.52061012
   0.15874123]
 [ 0.0485537  -0.27199009  0.45826205 ...  0.93989243 -0.71412687
   0.41683579]
 [-1.13907847 -1.07214956 -0.04920442 ...  0.47907876 -0.70807947
  -0.70157398]]

In [ ]:
classifymodel = svm.SVC(kernel='linear')

In [ ]:
classifymodel.fit(X_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
X_train_prediction = classifymodel.predict(X_train)
training_data_accuracy = accuracy_score(Y_train,X_train_prediction)
print ('Accuracy score of training data=',training_data_accuracy)

Accuracy score of training data= 0.784370477568741

In [ ]:
X_test_prediction = classifymodel.predict(X_test)
test_data_accuracy = accuracy_score(Y_test,X_test_prediction)
print ('Accuracy score of testing data=',test_data_accuracy)

Accuracy score of testing data= 0.7792207792207793

In [ ]:
input_data = (5,109,75,26,0,36,0.546,60)
input_data_as_numpy_array = np.asarray(input_data)
input_reshaped_data = input_data_as_numpy_array.reshape(1,-1)

std_data=scaler.transform (input_reshaped_data)

prediction = classifymodel.predict (std_data)
print (prediction)

if (prediction [0] == 0):
  print ("THE PERSON MOST LIKELY DOES NOT HAVE DIABETES")
else:
  print (" THE PERSON MOST LIKELY HAS DIABETES")

[0]
THE PERSON MOST LIKELY DOES NOT HAVE DIABETES